/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */
body {
    font-family: sans-serif;
}

/*Utils*/

/**BG Color*/
.bg-aqua {
    background-color: #083B4C;
}

/*Font Size*/
.fts-big {
    font-size: 100px;
}